header img {
	width:100%;
	height:260px;
	margin-top:-10px;
}
select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    /*background-color: #F07575;  fallback color if gradients are not supported */
    background-color: #fff; /* fallback color if gradients are not supported */
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */ 
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
	height:30px;
}
.footnote {
	margin:1em;
}
.highlight {
	background:#ffd !important;
}
.descriptive {
	font-family:sans-serif;
	font-size:10px;
	padding:0;
	margin:0;
	max-height:400px;
	overflow:auto;
}
p.footnote {
	font-family:sans-serif;
	font-size:13px;
}
.desctable {
	padding:0;
	margin:4px 0;
	min-height:400px;
}

.desctable th {
	padding:0;
}

.desctable tr {
	padding:0;
}

.desctable tr:nth-child(even) {
	padding:0;
	background-color:#def;
}

.desctable thead tr {
	padding:10px;
	background-color:#eee;
	min-height:62px;
	height:62px;
	max-height:62px;
}

.desctable thead tr td {
	text-align:center;
}

.desctable td {
	padding:5px;
	text-align:right;
	height:40px;
}
.desctable td:first-child {
	padding:5px;
	text-align:left;
}
.overlay {
	visibility:visible;
	position:fixed;
	top:358px;
	width:883.5px;
	margin:0 auto;
	min-height:70px;
	height:70px;
	max-height:70px;
	overflow:hidden;
	background-color:#fff;
}
fieldset.controls {
	border:none;
	margin:10px 10px 10px 30px;
	width:900px;
	overflow:hidden;
	line-height:30px;
}

#tab_controls {
	width:100%;
	margin:0;
	height:50px;
}
.tabtab {
	background:#999;
	color:#fff;
	width: 195px;
	height: 2em;
	font-weight: 400;
	float:left;
	margin:0 5px;
	padding:10px;
}
.tabtab:first-child {
	background:#79a;
}
#tab_frame {
	position:relative;
	background:#ddd;
	margin:-10px auto;
	width:905px;
	min-height:40px;
	height:40px;
	padding:0;
}
#tab_0 {
	border:1px solid #aaa;
	background:#fff;
	position: absolute;
	top:95px;
	z-index:10;
	width:900px;
	padding:0;
	max-height:450px;
}
#tab_1 {
	border:1px solid #aaa;
	background:#fff;
	position: absolute;
	top:95px;
	z-index:0;
	width:900px;
	padding:0;
	max-height:450px;
	overflow:hidden;
}

#tab_2 {
	border:1px solid #aaa;
	background:#fff;
	position: absolute;
	top:95px;
	z-index:0;
	width:900px;
	padding:0;
	max-height:441px;
	height:441px;
	overflow:auto;
	font-family:sans-serif;
	font-size:13px;
}

#tab_3 {
	border:1px solid #aaa;
	background:#fff;
	position: absolute;
	top:95px;
	z-index:0;
	width:900px;
	padding:0;
	max-height:441px;
	height:441px;
	overflow:auto;
	font-family:sans-serif;
	font-size:13px;
}

#tab_2 table {
	width:820px;
	margin:1em 2em;
}
#tab_2 table tr {
	line-height: 2.2em;
}
#tab_2 table tr:nth-child(odd) {
	background:#eee;
	border-top:2px solid #aaa;
	border-bottom:2px solid #aaa;
}
#tab_2 table tr td+td {
	text-align:right;
}
#tab_2 p.narrative {
	margin:1em 2em;
	font-family:sans-serif;
	font-size:12px;
	line-height:1.5em;
}
#tab_2 h2 {
	margin:1em 2em 0;
	font-family:sans-serif;
	font-size:12px;
	font-weight: 600;
	line-height:1.5em;
}

