
.footnote {
	margin:1em;
}

p.footnote {
	font-family:sans-serif;
	font-size:13px;
}

#desctable {
	font-size: 12px;
}

#desctable tr th {
	text-align: right;
	padding-right: 5px;
	width: 5%;
}

#desctable tr td {
	text-align: right;
	padding-right: 5px;
	width: 5%;
}

#desctable tr .col_campus {
	text-align: left;
	min-width: 27%;
	width: 27%;
}

#tb1 .col_campus a {
	text-decoration: underline;
	color: #111;
}

#tb1 .highlight {
	font-weight: 600; 
	color: #c03;
}

#tb1 .highlight a {
	font-weight:600; 
	color: #c03;
}

#text_panel_0 {
	font-size: 12px;
}

#text_panel_0 td {
	padding: 5px 10px;
}

#text_panel_0 h3 {
	font-size: 18px;
	background: #00bcd4;
	color: #fff;
	padding: 5px;
	font-weight: normal;
	text-align: center;
}

#text_panel_1 {
	font-size: 12px;
}

#text_panel_1 td {
	padding: 5px 10px;
}

#text_panel_1 h3 {
	font-size: 18px;
	background: #00bcd4;
	color: #fff;
	padding: 5px;
	font-weight: normal;
	text-align: center;
}

select {
	margin: 0 10px;
}

tbody tr td.nowrap {
	min-width:3em;
	text-align:right;
}

#projections_shade {
	width: 610px;
	left: 385px;
	height: 280px;
	background: rgba(127,127,127,0.1);
	z-index: -1;
	position: relative;
	top: -452px;
}

#projections_shade.gr6yr {
	width: 585px;
	left: 406px;
}

#projections_legend_all {
	width: 700px;
	height: 30px;
	position: relative;
	top: -490px;
	left: 368px;
	visibility: hidden;
}

#projections_legend_all button {
	border: none;
	font-family: sans-serif;
	font-size: 0.833em;
	font-weight: 600;
	color:#777;
	width:300px;
	background:inherit;
	text-align:left;
	text-decoration:underline;
	outline:none;
}

#download_projections_csv {
	border: none;
	font-family: sans-serif;
	font-size: 0.833em;
	font-weight: 600;
	color:#777;
	width:120px;
	height:30px;
	background:inherit;
	text-align:right;
	text-decoration:underline;
	outline:none;
	position: relative;
	top: -868px;
	left: 976px;
}

#historical_legend_all {
	width: 700px;
	height: 30px;
	position: relative;
	top: -400px;
	left: 332px;
}

#historical_legend_all button {
	border: none;
	font-family: sans-serif;
	font-size: 0.833em;
	font-weight: 600;
	color:#777;
	width:300px;
	background:inherit;
	text-align:left;
	text-decoration:underline;
	outline:none;
}

#download_historical_csv {
	border: none;
	font-family: sans-serif;
	font-size: 0.833em;
	font-weight: 600;
	color:#777;
	width:120px;
	height:30px;
	background:inherit;
	text-align:right;
	text-decoration:underline;
	outline:none;
	position: relative;
	top: -538px;
	left: 976px;
}

 #trends_footnote {
	position:relative;
	top:-200px;
}

#explanation {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	font-weight: 400;
	line-height:1.4em;
	color: #111;
	margin:10px auto;
	width:750px;
}
#explanation h2{
	font-size:1.1em;
	font-weight: 600;
}
#explanation h3{
	font-size:1em;
	font-weight: 400;
}
#explanation li {
	margin:0.5em;
}
