
.footnote {
	margin:1em;
}

.descriptive {
	font-family:sans-serif;
	font-size:9px;
	padding:0;
	margin:0;
	/*max-height:400px;
	overflow:auto;*/
}
p.footnote {
	font-family:sans-serif;
	font-size:13px;
}
.desctable {
	padding:0;
	margin:4px 0;
}

.desctable th {
	padding:0;

}

.desctable tr {
	padding:0;
}

.desctable tr:nth-child(even) {
	padding:0;
	background-color:#def;
}

.desctable thead tr {
	padding:0.9em;
	background-color:#eee;
}

.desctable thead tr td {
	text-align:center;
}

.desctable td {
	padding:0.5em;
	text-align:right;
	height:3em;
}
.desctable td:first-child {
	padding:0.5em;
	text-align:left;
}
.overlay {
	visibility:visible;
	position:fixed;
	/*top:169px;
	width:883.5px;*/
	top: 250px;
	margin:0 auto;
	/*max-height:68px;*/
	max-height: 55px;
	width: 1100px;
	overflow:hidden;
	background-color:#fff;
}
/*fieldset.controls {
	border:none;
	margin:10px 10px 10px 30px;
	width:900px;
	overflow:hidden;
}*/

#tab_controls {
	width:100%;
	margin-bottom:0;
}
.tabtab {
	background:#999;
	color:#fff;
	width: 190px;
	height: 2em;
	font-weight: 400;
	float:left;
	margin:0.3em;
	padding:0.5em;
}
.tabtab:first-child {
	background:#79a;
}
#tab_0 {
	border:1px solid #aaa;
	background:#fff;
	position: absolute;
	top:200px;
	z-index:10;
	width:900px;
	padding:0;
	max-height:450px;
	margin-top:-2em;
}
#tab_1 {
	border:1px solid #aaa;
	background:#fff;
	position: absolute;
	top:200px;
	z-index:0;
	width:900px;
	padding:0;
	max-height:450px;
	overflow:hidden;
	margin-top:-2em;
}

#tab_2 {
	border:1px solid #aaa;
	background:#fff;
	position: absolute;
	top:194px;
	z-index:0;
	width:900px;
	padding:0;
	max-height:441px;
	height:441px;
	overflow:auto;
	margin-top:-2em;
	font-family:sans-serif;
	font-size:13px;
}

#tab_3 {
	border:1px solid #aaa;
	background:#fff;
	position: absolute;
	top:194px;
	z-index:0;
	width:900px;
	padding:0;
	max-height:441px;
	height:441px;
	overflow:auto;
	margin-top:-2em;
	font-family:sans-serif;
	font-size:13px;
}

/*#tab_2 table {
	width:820px;
	background:#eee;
	margin:1em 2em;
}*/
#tab_2 table tr td+td {
	text-align:right;
}
#tab_2 p.narrative {
	margin:1em 2em;
	font-family:sans-serif;
	font-size:12px;
	line-height:1.5em;
}
#tab_2 h2 {
	margin:1em 2em 0;
	font-family:sans-serif;
	font-size:12px;
	font-weight: 600;
	line-height:1.5em;
}

